@import url("../globals.css");

.trainingContainer{
  width: auto;
  height: fit-content;
  margin: 1rem 10rem;
}

.accordion {
  box-sizing: border-box;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  transition: background-color 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--highlight);
  margin-bottom: 5px;
  position: relative;
  font-weight: 800;
}

.active, .accordion:hover {
  background-color: var(--dark-highlight);
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.4s ease-out, padding 0.4s ease-out;
  max-height: 0;
}

.panel.open {
  display: block;
  max-height: fit-content; 
  padding: 18px;
}

.icon {
  font-size: 20px;
  position: absolute;
  left: 10px;
  transition: transform 0.2s ease;
  transform: rotate(45deg); /* Default state rotated */
}

.accordion.open .icon {
  transform: rotate(90deg); /* Rotated back to normal + when open */
}