<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='components/selector.css') }}">
</head>
<body>
    <div class="inputContainer" id="{{ selectorId }}">
        <!-- Sequence length range -->
        {% set display_text="Min Sequence Length:" %}
        {% set select_name="cirriculum_min_length" %}
        {% include "inputs/integer_entry.html" %}

        {% set display_text="Max Sequence Length:" %}
        {% set select_name="cirriculum_max_length" %}
        {% include "inputs/integer_entry.html" %}

        <!-- Accuracy Threshold -->
        {% set display_text="Accuracy Threshold:" %}
        {% set select_name="cirriculum_accuracy_threshold" %}
        {% set default_value="0.9" %}
        {% include "inputs/probability_entry.html" %}

        <!-- ZAREMBA2014 probabilities -->
        {% set display_text="Zaremba p1:" %}
        {% set select_name="zaremba_p1" %}
        {% set default_value="0.1" %}
        {% include "inputs/probability_entry.html" %}

        {% set display_text="Zaremba p2:" %}
        {% set select_name="zaremba_p2" %}
        {% set default_value="0.25" %}
        {% include "inputs/probability_entry.html" %}

        {% set display_text="Zaremba p3:" %}
        {% set select_name="zaremba_p3" %}
        {% set default_value="0.65" %}
        {% include "inputs/probability_entry.html" %}

    </div>
</body>