<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='components/selector.css') }}">
</head>
<body>
    <div class="inputContainer" id="{{ selectorId }}">
        <!-- memory selector -->
        {% set items = memory_options %}
        {% set display_text="Memory:" %}
        {% set select_name="memory_model" %}
        {% include "inputs/drop_down.html" %}

        <!-- read controller selector -->
        {% set items = read_controller_options %}
        {% set display_text="Read Controller:" %}
        {% set select_name="read_controller" %}
        {% include "inputs/drop_down.html" %}

        <!-- write controller selector -->
        {% set items = write_controller_options %}
        {% set display_text="Write Controller:" %}
        {% set select_name="write_controller" %}
        {% include "inputs/drop_down.html" %}

        <!-- memory depth selector -->
        {% set display_text="Memory Depth:" %}
        {% set select_name="memory_m" %}
        {% include "inputs/integer_entry.html" %}

        <!-- memory width selector -->
        {% set display_text="Memory Width:" %}
        {% set select_name="memory_n" %}
        {% include "inputs/integer_entry.html" %}

        <!-- numbrt of layers selector-->
        {% set display_text="Number of Layers:" %}
        {% set select_name="layers" %}
        {% include "inputs/integer_entry.html" %}
    </div>
</body>