body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar-container {
    position: relative;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3d518c;
    padding: 1rem;
    position: relative;
}

.navbar .nav-links a {
    font-size: 1.2rem;
    position: relative;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;

}
.navbar .nav-links a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.navbar a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
.navbar .name {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.navbar .name:hover {
    color: #ef476f;
}

.navbar .nav-links {
    display: flex;
}

.hover-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #ef476f;
    transition: width 1s ease-in-out, transform 1s ease-in-out;;
}

.navbar-container:hover .hover-bar {
    width: 100%;
}
.navbar-container:not(:hover) .hover-bar {
    transform: translateX(100%);
    width: 0;
}
