@import url("../globals.css");


.inputContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.inputContainer .container {
    background: #fff;
    padding: 15px;
    margin: .7rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 15rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inputContainer label {
    font-size: 1rem;
}

.inputContainer input {
    font-size: 1rem;
    border-radius: 4px;
    background-color: white;
    width: 4.9rem;
    padding: .4rem;
    transition: outline .1s;
}

.inputContainer select {
    font-size: 1rem;
    border-radius: 4px;
    background-color: white;
    width: 6rem;
    padding: .4rem;
    transition: outline .1s;
}

.inputContainer select:focus,
.inputContainer input:focus {
  outline: solid var(--primary-higlight);
}